/*
	Copyright 2007 Benjamin Hollis
	See license.txt for additional license information.
*/
body { 
	font-family: 'Segoe UI', Tahoma, Verdana, Arial, sans-serif;
	font-size: 9pt;
	width:204px;
	height: 140px;
	padding: 0;
	margin: 0;
}

#debug {
	z-index: 1000;
	position: absolute;
	top: 0px;
	left: 0px;
}